@font-face {
    font-family: 'Bebas Neue';
    src: url('../fuentes/BebasNeue.otf');
    font-family: 'PTSans 3';
    src: url('../fuentes/PTSans\ 3.ttc');
}

.header {
    background-image: url(../img/recortes/Remanso-06.png);
    width: 100%;
    position: relative;
    padding: 0px 0 150px 0;
}


/* .logo img {
    display: flex;
    width: 25%;
    padding-left: 70px;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 0 5px 0;
    line-height: 32px;
}


/* .logo {
    cursor: pointer;
}

ul.mainMenu {
    margin-top: 15px;
}

.mainMenu li {
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.mainMenu a {
    text-decoration: none;
    color: white;
    padding: 8px;
} */

.proyeco {
    background: #F5F5F5;
}

.Proyecto-title h1 {
    color: #46200D;
    padding: 5px;
    padding-left: 50px;
    width: 5.8em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    font-family: 'Bebas Neue';
}

.Proyecto-title p b {
    font-family: 'PTSans 3';
}

.lista-proyecto {
    font-family: 'PTSans 3';
    font-style: italic;
    font-size: 18px;
}

.zonaComun {
    position: relative;
    background: #F5F5F5;
    padding: 30px 0 80px 0;
}

.zona-title h1 {
    color: #46200D;
    padding: 5px;
    padding-left: 50px;
    width: 7.5em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.zona-title p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.container-fluid {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.contactenos {
    background-image: url(../img/recortes/Remanso-27.png);
    padding: 35px 0 30px 0;
}

.contactenos-title h1 {
    color: #46200D;
    padding: 3px;
    padding-left: 50px;
    width: 6.7em;
    background-color: #C85B30;
    border: 5px solid #C85B30;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.contactenos-title p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: white;
}

.contenedor-formulario {
    display: flex;
    flex-wrap: wrap;
}

.inputNombre {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputCuidad {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputCorreo {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputCelular {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputComentario {
    width: 58.2%;
    padding: 15px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.colBtn {
    margin-left: 90px;
}

.btnEnviar {
    width: 18%;
    margin-left: 30px;
    padding: 5px 25px;
    border: white;
    border-radius: 5px;
    background-color: #46200D;
    color: white;
}

.mapa {
    background: #F5F5F5;
    padding: 35px 0 30px 0;
}

.mapa-title h1 {
    color: #46200D;
    padding: 5px;
    padding-left: 50px;
    width: 4.5em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.mapa-title p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.marca {
    background: #fff;
    padding: 40px 0 50px 0;
}

.marca-title h1 {
    color: #46200D;
    padding: 5px;
    padding-left: 50px;
    width: 8.5em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.footer {
    background-image: url(../img/recortes/Remanso-36.png);
    width: 100%;
    position: relative;
    padding: 50px 0 10px 0;
}

.footer-title h1 {
    color: #46200D;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    text-align: center;
}

.col-footer p {
    text-align: center;
    font-family: 'PTSans 3';
    font-size: 18px;
}

.col-footer b {
    font-family: 'PTSans 3';
    font-size: 18px;
}