@font-face {
    font-family: 'Bebas Neue';
    src: url('../fuentes/BebasNeue.otf');
}

@font-face {
    font-family: 'PTSans 3';
    src: url('../fuentes/PTSans\ 3.ttc');
}

/* Inicio Header */

.container-fluid {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.logo img {
    display: flex;
    width: 80%;
    padding-left: 70px;
    padding-top: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0px 0 5px 0;
    line-height: 32px;
}

.col-form{
    margin: 0;
    padding: 0;
}


.logo {
    cursor: pointer;
}

ul.mainMenu {
    margin-top: 15px;
}

.mainMenu li {
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.mainMenu a {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.header {
    background-image: url(../img/recortes/Remanso-06.png);
    width: 100%;
    position: relative;
    padding: 0px 0 165px 0;
}

.imagen-form{
    background-image: url(../img/recortes/Remanso-08.png);
    width: 470px;
    height: 421px;
}

.formulario{
    padding: 90px 50px 10px 55px;    
}


.formControl {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.inputComent {
    width: 100%;
    padding: .375rem .75rem;
    border: white;
    border-radius: 5px;
    font-size: 11px;
    color: black;
}

.btnEnviarForm{
    width: 30%;
    padding: 5px 25px;
    border: white;
    border-radius: 5px;
    background-color: #46200D;
    color: white;
    display: block;
    margin: auto;
}
/* Fin Header */

/* Inicio de Proyecto */


.proyecto {
    background: #F5F5F5;
}

.Proyecto-title h1 {
    color: #46200D;
    font-size: 2.9em;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding-top: 15px;
    padding: 5px;
    padding-left: 50px;
    width: 5.8em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    font-family: 'Bebas Neue';
}

.Proyecto-title p b {
    font-family: 'PTSans 3';
}

.lista-proyecto {
    font-family: 'PTSans 3';
    font-style: italic;
    font-size: 18px;
}
/* Fin de Proyecto */

/* Inicio Zona comun */

#ZonaComun{
    max-width: 1100px;
	margin: 0 auto;
}

.zonaComun {
    position: relative;
    background: #F5F5F5;
    padding: 30px 0 80px 0;
}

.zona-title h1 {
    color: #46200D;
    font-size: 2.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 5px;
    padding-left: 50px;
    width: 8.5em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.zona-title p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.contenedorZonaComun {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1100px;
    margin-bottom: 50px;
    margin: auto;
}

.tarjetasZonaComun {
    margin-bottom: 40px;
	padding: 0 10px;
}


/* Fin Zona comun */

/* Inicio de apartamentos */

#Apartamentos {
    max-width: 1100px;
	margin: 0 auto;
}

.tituloApartamento{
    display: block; 
    margin: auto;
}


.contenedorApartamentos {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1100px;
	margin-bottom: 50px;
}

.PreciosApartamentos {
    background: url("../img/recortes/Remanso-19.png") no-repeat;
	width: 1007px;
	height: 257px;
}

@media (max-width: 1040px) {
    .PreciosApartamentos {
        background: url("../img/recortes/Remanso-20.png") no-repeat;
		width: 469px;
		height: 418px;
	}
}

@media (max-width: 510px) {
    .PreciosApartamentos {
        background-size: 300px;
		width: 300px;
		height: 268px;
	}
}

.tarjetasApartamentos {
    margin-bottom: 40px;
	padding: 0 10px;
}

/* Fin de apartamentos */

/* Inicio de contactenos */
.contactenos {
    background-image: url(../img/recortes/Remanso-27.png);
    padding: 35px 0 30px 0;
}

.contactenos-title h1 {
    color: #46200D;
    font-size: 2.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 3px;
    padding-left: 50px;
    width: 7.5em;
    background-color: #C85B30;
    border: 5px solid #C85B30;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.contactenos-title p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: white;
}

.contenedor-formulario {
    display: flex;
    flex-wrap: wrap;
}

.inputNombre {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputCuidad {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputCorreo {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputCelular {
    width: 95%;
    padding: 20px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.inputComentario {
    width: 58.2%;
    padding: 15px 10px 5px 20px;
    margin: 0 0 20px 0;
    border: white;
    border-radius: 5px;
    font-size: 14px;
    color: black;
}

.colBtn {
    margin-left: 90px;
}

.btnEnviar {
    width: 18%;
    margin-left: 30px;
    padding: 5px 25px;
    border: white;
    border-radius: 5px;
    background-color: #46200D;
    color: white;
}

/* Fin de contactenos */

/* Inicio de mapa */

#Marca {
    max-width: 1100px;
	margin: 0 auto;
}

.contenedorMarca {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1100px;
}

.mapa {
    background: #F5F5F5;
    padding: 35px 0 30px 0;
}

.mapa-title h1 {
    color: #46200D;
    font-size: 2.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 5px;
    padding-left: 50px;
    width: 4.2em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

.mapa-title p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

/* Fin de mapa */

/* Inicio de marca */

#Marca {
    max-width: 1100px;
	margin: 0 auto;
}

.contenedorMarca {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1100px;
}

.tarjetasMarca {
    margin-bottom: 40px;
	padding: 0 10px;
}


.marca {
    background: #fff;
    padding: 40px 0 50px 0;
}

.marca-title h1 {
    color: #46200D;
    font-size: 2.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 5px;
    padding-left: 50px;
    width: 10em;
    background-color: #E7E7E7;
    border: 5px solid #E7E7E7;
    border-top-left-radius: 25px 15px;
    border-bottom-right-radius: 15px 25px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}
/* Fin de marca */

/* Inicio de footer */
.footer {
    background-image: url("../img/recortes/Remanso-36.png");
    width: 100%;
    position: relative;
    padding: 50px 0 10px 0;
}
.footer img {
    display: block; 
    margin: auto;
}


.footer-title h1 {
    color: #46200D;
    font-size: 2.9em;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    text-align: center;
}


.contenedorFooter {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1100px;
	margin-bottom: 50px;
}

.footer .centrado {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.footerDatos {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 25px 5px 0 5px;
}

.footerDatos img {
    display: block; 
    margin: auto;
}


.info {
    max-width: 1100px;
    width: auto;
	margin: 0 auto;
	text-align: center;
    font-family: 'PTSans 3';
    margin: auto;
	font-size: 1.1em;
	line-height: 20px;
	padding: 0 20px;
}

.footerDatos b {
    font-family: 'PTSans 3';
    font-size: 18px;
}
/* Fin de footer */